
<section class="conteiner-inicial" *ngIf="mostrarMenu">
    <div class="mapa">
        <h2>player select</h2>
        <img src="../../../../../assets/dados/Jogos/StreetFighterIITurbo/mapa.png" alt="">
    </div>
    <div class="selec-personagem">
        <div class="menu-person">
            <div class="grad-person" *ngFor="let person of personagens">
                <img [src]="person.portrait" alt=""
                (mouseenter)="mostrarPersonagem[person.fundo] =  true"
                (mouseleave)="mostrarPersonagem[person.fundo] =  false"
                (click)="escolhePersonagem(person); mostrarMenu=false; maceites=true">
                <div class="personagem-fundo" *ngIf="mostrarPersonagem[person.fundo]">
                    <h3>{{person.nome}}</h3>
                    <img [src]="person.fundo" alt="">
                </div>
            </div>   
        </div>
    
    </div>
</section>
<section class="personagen-selecionado" *ngIf="personagemSelecionado">
    <img [src]="personagemSelecionado.fundo" alt="">
    <div class="area-maceite">
        <div class="card-macete">
            <h3>Golpes {{personagemSelecionado.nome}}</h3>
            <div class="ceite" *ngFor="let golpe of personagemSelecionado.golpes">
                <strong>{{golpe.nomedogolpe}}</strong>:<p>{{golpe.comandos}}</p>
            </div>
        </div>
    </div>
    <button (click)="voltarMenu()">Voltar</button>
</section>


